body {
    background-color:#5b7fbd
}
h1{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 72px;
}
p{
    font-family:Arial;
    font-size: 26px;
}


ul {
    list-style-position: inside;
    text-align:center;
    font-family:Arial;
    font-size: 20px;
}
.copyright{
        font-style:italic;
        font-size: 12px;
} 
a{
    
}